**SM339 &#x25aa; Applied Statistics &#x25aa; Spring 2024 &#x25aa; Uhan**

# Lesson 13. Coefficient of Determination for Simple Linear Regression &ndash; Part 2

## Example

* Let's consider the `AccordPrice` data again:

In [1]:
library(Stat2Data)
data(AccordPrice)
head(AccordPrice)

  Age Price Mileage
1 7   12.0  74.9
2 4   17.9  53.0
3 4   15.7  79.1
4 7   12.5  50.1
5 9    9.5  62.0
6 1   21.5   4.8

* We can find the sample correlation between $\mathit{Price}$ and $\mathit{Mileage}$ using the `cor()` function, like this:

In [2]:
cor(AccordPrice$Price, AccordPrice$Mileage)

[1] -0.8489441

* In fact, we can find the sample correlation between all pairs of variables in dataframe using the `cor()` function, as long as all the variables are quantitative, like this:

In [3]:
cor(AccordPrice)

        Age        Price      Mileage
Age      1.0000000 -0.8956156  0.7895010
Price   -0.8956156  1.0000000 -0.8489441
Mileage  0.7895010 -0.8489441  1.0000000

* We can perform the $t$-test for correlation using the `cor.test()` function, like this:

In [4]:
cor.test(AccordPrice$Price, AccordPrice$Mileage, alternative = "two.sided", conf.level = 0.95)

	Pearson's product-moment correlation

data:  AccordPrice$Price and AccordPrice$Mileage
t = -8.5002, df = 28, p-value = 3.055e-09
alternative hypothesis: true correlation is not equal to 0
95 percent confidence interval:
 -0.9259982 -0.7039888
sample estimates:
       cor
-0.8489441